.navbar-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 2px 10px;
  height: 12vh;

  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);

  .nav-links {
    .link {
      color: white;
      text-decoration: none;
      margin-right: 12px;
      font-size: 18px;
    }
    .connect-btn {
      font-size: 15px;
      background-color: black;
      color: white;
      padding: 3px;
      border-radius: 5%;
      border-color: white;
      height: 35px;
      text-decoration: none;
      margin-right: 8px;
    }
  }
}
